.action-menu {
  position: absolute;
  right: 0;
  top: 28px;
  background: #020617;
  border: 1px solid #1f2937;
  border-radius: 8px;
  width: 140px;
}

.action-menu div {
  padding: 10px 14px;
  cursor: pointer;
}

.action-menu div:hover {
  background: #1f2937;
}
