.topbar {
  height: 50px;
  width: 100%;
  background: #020617;
  border-bottom: 1px solid #1f2937;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
}

.topbar-left {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.topbar-right {
  display: flex;
  gap: 14px;
  align-items: center;
}

.icon {
  font-size: 14px;
  cursor: pointer;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #1f2937;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
